@{
    ViewBag.Title = "Invalid User";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">This user does not have the proper permissions for this action. Please sign in with a valid user's credentials.</p>